{% extends 'frontend.html.twig' %}

{% block title %}Pasarelas{% endblock %}

{% block body %}
<h1>Pasarelas de pago</h1>  
    <ul>
        <li><a href="{{path('pasarelas_webpay')}} ">Webpay</a></li>
        <li><a href=" ">Paypal</a></li>
    </ul>
{% endblock %}
